body{
    color: #191919;
    font-family: 'Nanum Gothic', sans-serif;
    
}

a, a:link{
    text-decoration: none;
    color: inherit;

}
.blind{
    display: none;
}

.picture{
    /* max-width: 100%; */
    height: 335px;
    background:url("../images/heroImg.jpg") center;   /* 사진 넣기 */
    margin: 50px 0 0 0;
}
.logo{
    width: 154px;
    height: 152px;
    margin: 0 auto;
}
/* main */
#main{
    
    margin: 0 auto;
}

table, td, th{
    width: 600px;
    margin: 0 auto;
    border-collapse: collapse;    /* 테두리 겹치기 */
    border: 1px solid black;
}

td, th{
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

th
{
    background: #f7f7f7;
}
.bg{
    background: #ffeded;
}
.point
{
    background: #ff0000;
}

caption{
    font-size: 18px;
    font-weight: bold;
    margin: 2rem 0;
}
#td_fee th{
    width: 25%;
}
#td_cast th{
    width: 25%;
}

#td_cast
{
    margin-bottom: 50px;
}

.daytable td{
    text-align: left;
}


.menu{
    background: #191919;
    color: white;
    text-align: center;
}

.menu li {
    padding: 0 15px;
    display: inline-block;
    font-size: 16px;
    padding: 20px 20px;
}
.menu a:hover {   /* 마우스를 올렸을때 색깔 바꾸기 */
    color: #01ccff;
}

.schedule, .event {
    width: 1100px;
    margin: 0 auto;
}
.schedule > h2, .event > h2{
    margin: 2px auto;
    border-bottom: 1px solid #666;
}
.schedule > h2 span, .event > h2 span{
    border: solid 1px #666;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: -15px;
    display: inline-block;
    height: 68px;
    line-height: 68px;
    padding: 0 20px;
    margin: 0 0 0 10px
}
.schedule li, .event li{
    margin: 50px 0;
    overflow: hidden;
}
.img{
    width: 400px;
    float: left;
    overflow: hidden;
    text-align: center;
}
.desc{
    width: 650px;
    float: right;
}

.desc li{
    margin: 0 0 15px 0;
    height: 30px;
}

.desc p{
    font-size: 20px;
    padding: 5px;
}


.schedule mark{
    background: #c4c4c4;
    display: inline-block;
    width: 100px;
    height: 30px;
    color: #000000;
    text-align: center;
    line-height: 30px;
    border-radius: 20px;
    /* letter-spacing: 25px;     글자 사이 간격(=자간) */
    margin-right: 15px;
}
/* 메인의 베스트 사진 style */

/* .bestpicture > h2   {    
    margin: 20px auto;
    text-align: center;
}
.firstline ,.secondline{
    width: 100%;
    text-align: center;
}
.firstline figure, .secondline figure{
    display: inline-block;
    
} */

#main > h2 {
    text-align: center ;
    margin: 50px auto;
    font-weight: 700;
    font-size: 2rem;
}

.best, .best td {
    border: 0;
    padding: 0;
}

.best td{
    padding: 10px;
    position: relative;
}

.best td img{
    max-width: 100%;
}


#modal{
    display: none;
    background: #191919a6;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;  /* 층층이 겹치는 순서 단계 */
}

#close{
    width: 100px;
    height: 100px;
    font-size: 80px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
    background: white;

}

.overlay, #modal iframe{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


/* .best tr:nth-child(2) td:nth-child(1)::before{
    content: '안녕하세요';
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/play-btn.png") no-repeat center;
    position: absolute;
    left: 0;
    top: 0;
} */
/* best.html여기까지 */

/* .best td{
    border-spacing: 10px 30px;
} */

/* index 시작 main > .contents style */
.contents{
    max-width: 1200px;
    margin: 0 auto;
}
.board-icons{
display: flex;
}

.board{
    width: 25%;
}
.icons{
    width: 75%;
    background: lightcoral;
}

.banner img{
    height: 150px;
    width: auto;
}




/* index 끝 */

/* 여기까지가 메인 */

#footer{     /* foot의 style */
    margin: 3rem auto;
    text-align : center;
    
}

.extra-menu{
    background:#fafafa;
    border-top: 1px solid #191919;
}

.extra-menu li{
    padding: 1rem;
    display: inline-block;
}
/* .menu li:nth-child()  */

.black-bg{
    padding: 10% 0;
    background: #191919;
    overflow: hidden;
}
.black-bg p{
    color: white;
}
.footer-logo{
    width: 98px;
    margin: 0 auto 3rem;
}
.footer-logo img{
    width: 98px;
    margin: 0 auto;
}  


/* rwd(반응형 웹디자인) */
@media screen and (max-width:480px) {
    #td_fee, #td_cast{
        max-width: 100%;
    }
    /* .picture{
        background-repeat: no-repeat;
        background-size: cover;
    } */
}

 